@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    @apply bg-[--background] text-[--foreground] font-sans;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-bold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
  }

  code {
    @apply relative rounded bg-gray-100 px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }
}

@layer components {
  .prose {
    @apply prose-zinc max-w-none dark:prose-invert;
  }

  .prose pre {
    @apply bg-zinc-900 border border-zinc-700 dark:bg-zinc-800;
  }

  .prose code {
    @apply text-zinc-900 dark:text-zinc-200 px-1 py-0.5 border border-zinc-200 dark:border-zinc-800 rounded-lg bg-zinc-100 dark:bg-zinc-900;
  }

  .prose pre code {
    @apply text-zinc-200 dark:text-zinc-200 p-0;
    border: initial;
  }
}
